body{
  padding: 0.2rem;
}
table,td,th{
  border: 2px solid black;
  border-collapse: collapse;
}
td,th,img{
  width: 100px;
}

.login-page{
  text-align: center;
}


.login-header{
  font-size: 1.6rem;
  margin: 10px 13%;
}

.login-page-input{
  width: min(300px,80%);
  margin: 10px 10%;
  height: 2rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.login-button{
  color: aliceblue;
  background-color: blue;
  width: min(300px,80%);
  height: 2rem;
  font-size: larger;
  margin: 10px 10%;
  border: 2px solid black;
  border-radius: 15px;
}
